@import url(https://fonts.googleapis.com/css?family=VT323);

body {
  font: 16px/20px "VT323", monospace;
  background-color: #e3ffe3;
}

.intro {
  padding: 100px;

  background: rgba(0, 0, 0, 0.1);
  // height:300px;
}

// edited from https://codepen.io/ayamflow/pen/DCifh

.glitch {
  -webkit-animation: glitch 0.2s infinite;
}

$red: rgb(192, 20, 124);
$blue: rgb(0, 170, 255);
$yellow: rgb(255, 238, 0);
$green: rgb(0, 255, 128);
$colors: $red $blue $yellow $green;

@mixin glitch {
  $color: nth($colors, random(length($colors)));
  text-shadow: random(10px) - 5px 0px 0px $color;
  left: random(6px) - 3px;
}

@-webkit-keyframes glitch {
  @for $i from 0 through 100 {
    $percent: 0% + $i;
    #{$percent} {
      @include glitch;
    }
  }
}

button.button-primary {
  background-color: #000;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #fff;
  border-color: #000;
  float: right;
}

button.button-primary:hover {
  background-color: #333;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #fff;
  border-color: #000;
  float: right;
}

button.button-primary:focus {
  background-color: #000;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #fff;
  border-color: #000;
  float: right;
}

button.button-primary:clicked {
  background-color: #000;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #fff;
  border-color: #000;
  float: right;
}

// modal

* {
  box-sizing: border-box;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.modal-container {
  width: 300px;
  margin: 40px auto 0;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.text-right {
  text-align: right;
}

.form-label {
  display: block;
  margin-bottom: 1em;
}

.form-label > .form-control {
  margin-top: 0.5em;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  line-height: 1.5;
  border: 1px solid #ddd;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
